<div class="dashboard-container">
    <div class="dashboard-upper-container">
        <div class="dashboard-header">
            <div class="dashboard-header-container">
                <div class="dashboard-header-logo">

                </div>
                <div class="dashboard-header-menu">
                    <div class="menu">Production</div>
                    <div class="menu">Solutions</div>
                    <div class="menu">Pricing</div>
                    <div class="login-button">Login</div>
                    <div class="get-started">Get Started</div>
                </div>
            </div>
        </div>
        <div class="dashboard-upper-content-wrapper">
            <div class="dashboard-upper-left">
               <div class="dashboard-upper-left-header">
                   We make it Super Simple
               </div>
            </div>
            <div class="dashboard-upper-right">

            </div>
        </div>
    </div>
    <div class="dashboard-lower-container">
        <div class=""></div>
    </div>
</div>