.dashboard-container {
    background-color: #FCFCFF;
    .dashboard-upper-container {
        height: 100%;
        width: 100%;
        .dashboard-header {
            flex: 1 1 100%;
            .dashboard-header-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 27px 120px;
                .dashboard-header-logo {
                    background: url('../../../assets/logo.png') no-repeat center;
                    width: 123px;
                    height: 123px;
                }
                .dashboard-header-menu {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .menu {
                        padding: 0 25px;
                        font: normal normal normal 25px/34px Open Sans;
                        letter-spacing: 0px;
                        color: #222222;
                        opacity: 1;
                    }
                    .login-button {
                        padding: 13px 36px;
                        margin: 0 25px;
                        box-shadow: 0px 0px 20px #00000033;
                        border: 2px solid #663399;
                        border-radius: 24px;
                        font-family: Montserrat-Medium;
                        font-size: 16px;
                        color: #663399;
                    }
                    .get-started {
                        background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
                        box-shadow: 0px 0px 20px #00000033;
                        border-radius: 24px;
                        font-family: Montserrat-Medium;
                        font-size: 16px;
                        color: #FFFFFF;
                        padding: 13px 36px;
                    }
                }
            }
        }
        .dashboard-upper-content-wrapper {
            display: flex;
            flex-direction: row;
            flex: 0 0 auto;
            .dashboard-upper-left {
                flex: 1 1 50%;
                background: url('../../../assets/blob-small.svg') no-repeat center;
            }
            .dashboard-upper-right {
                flex: 1 1 50%;
                background: url('../../../assets/circle.svg') no-repeat center;
            }
        }
    }
    .dashboard-lower-container {

    }
}