<div class="dashboard-container" onscroll="onScroll()">
    <div class="dashboard-upper-container">
        <div class="dashboard-header" [class.scrolled]="isScrolled">
            <div class="dashboard-header-container">
                <div class="dashboard-header-logo">

                </div>
                <div class="dashboard-header-menu">
                    <div class="menu">Production</div>
                    <div class="menu">Solutions</div>
                    <div class="menu">Pricing</div>
                    <div class="login-button">Login</div>
                    <div class="get-started">Get Started</div>
                </div>
            </div>
        </div>
        <div class="dashboard-upper-content-wrapper">
            <div class="dashboard-upper-left">
               <div class="dashboard-upper-left-header">
                   We make it Super Simple
               </div>
               <div class="dashboard-upper-left-seperator">

               </div>
               <div class="dashboard-upper-left-img">
                   <img src="../../../assets/collect_img-video.png">
               </div>
            </div>
            <div class="dashboard-upper-right">
                <div class="dashboard-upper-right-main">
                    <div class="main-header">
                        Eligibility Calculator
                    </div>
                    <div class="main-conatiner">
                        <div class="main-content1">
                            Monthly Income 
                            <div class="amount">$ {{income}}</div>
                            <div class="slidecontainer">
                                <input type="range" min="{{minVal}}" max="{{maxVal}}" value="{{defaultVal}}" [(ngModel)]="income">
                                <div class="range-sub">
                                    <div>$ {{minVal}}</div>
                                    <div>$ {{maxVal}}</div>
                                </div>
                            </div> 
                        </div>
                        <div class="main-content1">
                            Monthly expense
                            <div class="amount">$ {{expense}}</div>
                            <div class="slidecontainer">
                                <input type="range" min="{{minVal}}" max="{{maxVal}}" value="{{defaultVal}}" [(ngModel)]="expense">
                                <div class="range-sub">
                                    <div>$ {{minVal}}</div>
                                    <div>$ {{maxVal}}</div>
                                </div>
                            </div>                              
                        </div>
                        <div class="main-dropdown-container">
                            <div class="main-dropdown-header">
                                Repayment Tenure
                            </div>
                            <select value="0">
                                <option value="0">3 Months</option>
                                <option value="1">6 Months</option>
                              </select>
                        </div>
                        <div class="main-checkbox-wrapper">
                            <div class="main-checkox-label">
                                Do you have any existing loans?
                            </div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </div>
                        <div class="main-emi-input-container">
                            <div class="main-emi-text">
                                EMI of existing loan[optional]
                            </div>
                            <input type="text" value="15000">
                        </div>
                    </div>
                </div>
                <div class="dashboard-upper-right-sub">
                    <div class="sub-content-wrapper">
                        <div class="sub-content-title">
                            Loan Amount
                        </div>
                        <div class="sub-content-info">
                            $15,0000
                        </div>
                    </div>
                    <div class="sub-content-wrapper">
                        <div class="sub-content-title">
                            Your EMI will be
                        </div>
                        <div class="sub-content-info">
                            $2,000
                        </div>
                    </div>
                    <div class="sub-btn">
                        Get Money
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-lower-container">
        <div class="dashboard-lower-left-container">
            <div class="dashboard-lower-cards-container">
                <div class="dashboard-lower-card">
                    <div class="dasboard-card-icon">
                        <img src="../../../assets/Get Paid Instantly.png">
                    </div>
                    <div class="dasboard-card-title">
                        Quick cash disbursement
                    </div>
                    <div class="dashboard-card-info">
                        Get terms loans that your business needs within 72 hrs
                    </div>
                </div>
                <div class="dashboard-lower-card">
                    <div class="dasboard-card-icon">
                        <img src="../../../assets/Low interest rate.png">
                    </div>
                    <div class="dasboard-card-title">
                        Low-interest rate
                    </div>
                    <div class="dashboard-card-info">
                        Achieve your financial goals with an amazing interest rate starting at 13% per annum
                    </div>                    
                </div>
                <div class="dashboard-lower-card">
                    <div class="dasboard-card-icon">
                        <img src="../../../assets/Secure Payments.png">
                    </div>
                    <div class="dasboard-card-title">
                        Zero Paperwork
                    </div>
                    <div class="dashboard-card-info">
                        Get started instantly by submitting only your basic details & bank statements
                    </div>                    
                </div>
            </div>
            <div class="dashboard-lower-cards-container">
                <div class="dashboard-lower-card">
                    <div class="dasboard-card-icon">
                        <img src="../../../assets/freelancer_feature_icon_6@1.5x.png">
                    </div>
                    <div class="dasboard-card-title">
                        Ace your business finances
                    </div>
                    <div class="dashboard-card-info">
                        Manage banking, accounting & everything in between, on one platform
                    </div>
                </div>
                <div class="dashboard-lower-card">
                    <div class="dasboard-card-icon">
                        <img src="../../../assets/Covid.png">
                    </div>
                    <div class="dasboard-card-title">
                        Loans to fight COVID-19
                    </div>
                    <div class="dashboard-card-info">
                        Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh
                    </div>                    
                </div>
            </div>
        </div>
        <div class="dashboard-lower-right-container">
            <div class="dashboard-lower-right-header">
                Boost your business with Open
            </div>
            <div class="dashboard-lower-right-seperator">

            </div>
            <div class="dashboard-lower-right-content">
                Get your hands on a term loan that’s crafted for your business
            </div>
            <div class="dashboard-lower-right-button">
                Get an Open Account
            </div>
        </div>
    </div>
</div>